html {
    background: lightgray;
    font-family: 'Noto Sans', sans-serif;
    margin: 10px;
}

h1 {
    background: rgb(30 46 95);
    color: white;
    text-align: center;
}

h2 {
    font-size: 23px;
    font-weight: bold;
}

#companyimage {
    width: 400px;
}

.profileimages {
    width: 200px;
    border-radius: 200px;
}

form {
    border: 2px solid white;
    width: 500px;
    padding: 18px;
}

.form-label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.form-input {
    width: 200px;
    height: 35px;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

input[type="submit"] {
    display: block;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 1rem;
    background: white;
    border: none;
    cursor: pointer;
}

td {
    padding: 7px;
    text-align: left;
  }
